@import "tailwindcss";

:root {
  --background: #070707;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #070707;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

a {
  text-decoration: none;
}
/* ============================= */
 
